.-md-wrapper {
	margin: 10px 20px 50px 20px;
    font: 1.2em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.-md-wrapper h1{
    text-align: center;
    color: #0c4595;
    font: bold 1.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.-md-wrapper h2 {
    color: #4e5e8d;
    font: bold 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: left;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.-md-wrapper h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #325bdd;
    margin-bottom: 5px;
}

.-script-wrapper {
	max-height: 300px;
	overflow:auto;
    -moz-box-shadow: 0 0 5px #36353b;
    -webkit-box-shadow: 0 0 5px #36353b;
    box-shadow: 0 0 5px #36353b;
}

code {
    font-family: "Courier New", Courier, mono;
    font-weight: bold;
    background-color: #e7ebf0;
}

.gist-meta{
	display: none;
}

#chapter-box,
#pages-box {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	width: 250px;
	border-right: 1px solid #e0e0e0;
	background: #e4e8ed;
}

#pages-box {
	width: 350px;
	background: #f3f3f3;
}

#page-box {
	box-flex: 12;
	-moz-box-flex: 12;
	-webkit-box-flex: 12;
	width: 700px;
	overflow: auto;
}

ul.chapters,
ul.pages {
	margin: 0;
	padding: 0;
	list-style:none;
}

ul.chapters li {
	color: #666666;
}

ul.chapters li span,
ul.pages li span {
	display: block;
}

ul.chapters li a:link,
ul.chapters li a:visited {
	color: #1b2025;	
	display:block;
	padding: 10px 15px;
}

ul.chapters li a:hover {
	text-decoration: none;
}

ul.chapters li.active,
ul.chapters li.active:hover {
	background: #5c6c7d;
	text-shadow:1px 1px 1px #495563;
}

ul.chapters .title {
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #f3f4f6;
}

ul.chapters li.active .title {
	color: #fff;
	text-shadow: 0px 1px 1px #798da4;
}

ul.chapters .description {
	color: #737e8a;
}

ul.chapters li.active .description {
	color: #f3f4f6;
	text-shadow: none;
}

ul.pages {
	margin: 0;
	padding: 0;
}

ul.pages li {
	color: #303030;
}

ul.pages li a:link,
ul.pages li a:visited {
	color: #1b2025;	
	display:block;
	padding: 10px 15px;
}


ul.pages li.active,
ul.pages li.active:hover {
	background: #3875d7;
	color: #ebedf1;
}

ul.chapters li:hover,
ul.pages li:hover {
	background: #c8d5ee;
}

ul.pages .title {
	font-size: 12px;
	font-weight: bold;
	text-shadow:1px 1px 1px #f3f4f6;
}

ul.pages li:hover a,
ul.pages li.active a {
	text-decoration:none;
}

ul.pages li.active .title {
	color: #fff;
	text-shadow: none;
	text-decoration:none;
}

ul.pages .description {
	color: #6A6A6A;
}

ul.pages li.active .description {
	color: #ccc;
}